name: ci.yml

on:
  push:
    branches:
      - master


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Go setup
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.7'
      - name: Install deps
        run: go mod tidy
      - name: Run tests
        run: go test ./...
      - name: Build
        run: go build ./...
